.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #48f214 inset;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}